@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
/* Styles for hoverable buttons in the admin sidebar */
.sidebar-link {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-weight: normal;
  color: #333;
  background-color: transparent;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 0.5rem;
}

.sidebar-link:hover {
  background-color: #e5e7eb;
  color: #333;
}

.sidebar-link-active {
  background-color: #00A7A2;
  color: white;
}

.sidebar-link.restaurant-active {
  background-color: #00A7A2;
  color: white;
  width: 100%;
}

.sidebar-link svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
}

.sidebar-link-active svg {
  color: white;
}
.horizontal-link {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px; /* Full-rounded */
  font-weight: normal;
  color: white;
  background-color: transparent;
  margin-right: 0.5rem; /* Space between links */
  transition: background-color 0.3s, color 0.3s;
}

.horizontal-link:hover {
  background-color: #e5e7eb; /* Gray on hover */
  color: #333;
}

.horizontal-link-active {
  background-color: #00A7A2; /* Turquoise when active */
  color: white;
}

.horizontal-separator {
  width: 192px;
  height: 5px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  margin: 0 8px;
  display: inline-block;
}

.AdminDashboard-link {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px; /* Full-rounded */
  font-weight: normal;
  color: white;
  background-color: #00A7A2;
  margin-right: 0.5rem; /* Space between links */
  transition: background-color 0.3s, color 0.3s;
}

.AdminDashboard-link:hover {
  background-color: #e5e7eb; /* Gray on hover */
  color: #333;
}
